.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
  width: auto;
}

.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 355px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(179, 229, 171, 0.5), 0px 0px 15px rgba(111, 207, 151, 0.5),
    0px 0px 15px rgba(61, 166, 111, 0.5), 0px 0px 15px rgba(31, 122, 84, 0.5);
  box-sizing: border-box;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 335px;
  width: 100%;
  height: 100%;
}
.servicesTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.servicesDesc {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.servicesImg {
  border-radius: 5px;
  object-fit: cover;
  width: 335px;
  height: 100%;
}

.servicesBtn {
  padding: 12px 20px;
  text-align: center;
  color: white;
  background: linear-gradient(135deg, #ff7e5f, #ff3f34);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicesBtn a {
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.servicesBtn span {
  display: block;
}
@media screen and (min-width: 768px) {
  .services {
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .servicesCard {
    padding: 5px;
    gap: 5px;
    width: 364px;
    height: 640px;
    justify-content: space-between;
  }
  .servicesTitle {
    font-size: 22px;
  }
  .servicesDesc {
    font-size: 18px;
  }

  .servicesImg {
    height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .services {
    width: auto;
    gap: 20px;
  }

  .servicesCard {
    width: 485px;
    height: 620px;
    transition: all 0.3s ease;
  }

  .servicesImg {
    width: 100%;
    height: 360px;
  }
  .servicesBtn a {
    font-size: 24px;
  }
  .servicesCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .servicesBtn:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  }
}
