.whom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
}
.whomTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  word-spacing: 1px;
  text-shadow: 1px 1px 0 #3da66f, 2px 2px 0 #6fcf97, 3px 3px 0 #b3e5ab,
    4px 4px 0 #eaf7e1;
}
.whomList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.whomItem {
  width: 85%;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px rgba(255, 0, 150, 0.5);
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
    -1px -1px 2px rgba(255, 255, 255, 0.8);
}

.whomItem:nth-child(odd) {
  align-self: flex-end;
}

.whomItem:nth-child(even) {
  align-self: flex-start;
}

.whom img {
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px rgba(255, 0, 150, 0.5);
}
@media screen and (min-width: 768px) {
  .whom {
    gap: 20px;
    padding: 20px 0;
  }
  .whomTitle {
    font-size: 48px;
  }
  .whomList {
    gap: 10px;
  }
  .whomItem {
    font-size: 20px;
    width: 90%;
    padding: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .whom {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    gap: 10px;
  }
  .whomList {
    align-items: center;
    justify-content: center;
  }
  .whomItem {
    width: 90%;
    font-size: 24px;
    word-wrap: break-word;
    text-align: center;
  }
  .whom img {
    width: 600px;
  }
}
