.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: auto;
  height: auto;
  gap: 30px;
}
.homeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 351px;
  z-index: 2;
}
.homeImg {
  width: 351px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px rgba(255, 0, 150, 0.5);
  z-index: 1;
}

.homeTitle h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.1px;
  text-shadow: 1px 1px 0 #3da66f, 2px 2px 0 #6fcf97, 3px 3px 0 #b3e5ab,
    4px 4px 0 #eaf7e1;
}
.homeTitle h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1.1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    2px 2px 2px rgba(0, 0, 0, 0.5), 6px 6px 6px rgba(0, 0, 0, 0.7);
}
.homeTitle h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1.1px;
  transform: skewX(-5deg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  .home {
    gap: 20px;
    padding: 20px 0;
  }
  .homeTitle {
    width: 744px;
  }
  .homeImg {
    width: 744px;
    height: 440px;
    object-fit: cover;
    object-position: 10% 65%;
  }

  .homeTitle h1 {
    font-size: 64px;
  }
  .homeTitle h2 {
    font-size: 48px;
  }
  .homeTitle h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .homeImg {
    width: 691px;
    height: 600px;
  }
  .homeTitle {
    width: 751px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .homeTitle h1 {
    font-size: 80px;
  }
  .homeTitle h2 {
    font-size: 55px;
  }
  .homeTitle h3 {
    font-size: 40px;
  }
}
