.link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: -1px;
  transition: color 0.3s ease;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(179, 229, 171, 0.5), 0px 0px 15px rgba(111, 207, 151, 0.5),
    0px 0px 15px rgba(61, 166, 111, 0.5), 0px 0px 15px rgba(31, 122, 84, 0.5);
  padding: 20px;
}
.active {
  color: #d50a1e;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  z-index: 10;
  width: auto;
  height: 40px;
  position: sticky;
  top: 0;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(179, 229, 171, 0.5), 0px 0px 15px rgba(111, 207, 151, 0.5),
    0px 0px 15px rgba(61, 166, 111, 0.5), 0px 0px 15px rgba(31, 122, 84, 0.5);
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contactsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    135deg,
    #fff7cc,
    #ffeb99,
    #ffdb4d,
    #ffcc00,
    #e6b800
  );
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s;
  z-index: 9;
}

.navigation.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.navigation span {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 4px 4px 10px gray;
}
.consultationButton {
  padding: 12px 20px;
  text-align: center;
  color: white;
  background: linear-gradient(135deg, #ff7e5f, #ff3f34);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.consultationButton span {
  font-size: 16px;
  font-weight: 500;
}

.menuButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
  transition: transform 0.3s ease-in-out;
}

.menuButton.open {
  transform: rotate(90deg);
}
.iconMenu {
  width: 35px;
  height: 35px;
}
.languageSelect {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
  appearance: none;
  font-size: 16px;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}

.languageSelect:focus {
  outline: none;
  border: none;
  border-radius: 50%;
}

.languageSelect:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .header {
    height: 50px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .iconMenu {
    width: 40px;
    height: 40px;
  }
  .contactsList {
    gap: 20px;
  }

  .navigation span {
    font-size: 40px;
  }
  .consultationButton span {
    font-size: 40px;
  }
  .languageSelect {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 60px;
    gap: 10px;
    position: static;
  }
  .logo {
    width: 80px;
    height: 50px;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    background: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    width: auto;
    gap: 30px;
  }

  .navigation span {
    font-size: 25px;
  }

  .menuButton {
    display: none;
  }
  .link {
    box-shadow: none;
    padding: 0px;
  }

  .link:hover {
    color: #d50a1e;
  }
  .icon:hover {
    transform: scale(1.2);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
  }
  .logo:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
  }
  .consultationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .consultationButton span {
    font-size: 25px;
  }
  .consultationButton:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
  }
}
